.tile-products-container {
    max-width: 1440px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
  .mainContent-tile {
    position: relative;
    display: inline-block;
    margin: 12px 0;
    img {
      display: block;
    }
  }
}

@media only screen and (max-width: 1440px) {
    .tile-products-container {
    flex-flow: column wrap;
    align-items: center;
  }
}
