.products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 125px auto;
    @media only screen and (max-width: 1419px) {
        flex-flow: column wrap;
    }
    .mainContent-tile {
        margin:  10px;
    }
}
