.navbar {
  // background-color: #620E0F;
  .navbar-content-container {
    max-width: 1440px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    background-color: transparent;
    .navbar-logo {
      margin: 5px 0;
      flex-basis: 25%;
    }
    .navbar-logo img {
      width: 155px;
    }
    .navbar-links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 50%;
      .link-li {
        margin: 0 15px;
        height: 35px;
        a {
          text-decoration: none;
          color: black;
          font-size: 1.25rem;
        }
        .underline {
          border-bottom: 0px solid transparent;
          padding-bottom: 2px;
          transition: border-bottom 0.5s cubic-bezier(0.47, -0.1, 0.49, 1.15);
        }
        .underline:hover {
          border-bottom: 1px solid black;
        }
      }
    }
    .after {
      flex-basis: 25%;
      content: " ";
    }
  }
}
