.navbar {
  width: 100%;
  background-color: transparent;
  .navbar-content-container {
    height: 150px;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }
  .navbar-logo img {
    width: 133px;
    border-radius: 50%;
    border: 2px solid rgba(184, 184, 184, 0.75);
  }
  .navbar-links {
    display: flex;
    align-items: center;
    .link-li {
      margin: 0 15px;
      height: 30px;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.25rem;
      }
    }
  }
}
